body {
    background-color: #262424;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    background-color: #201e1e;
    border-radius: 20px;
}
.poster {
    position: relative;
    height: 400px;
    width: 400px;
    border: 2px solid rgb(219, 40, 40);
    margin: 15px;
    border-radius: 20px;
    overflow: hidden;
}
.poster img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center;
}
.song {
    color: rgb(219, 40, 40);
    font-size: 35px;
    margin: 10px;
}
.singer {
    color: #EEE5DA;
    font-size: 20px;
    margin-bottom: 60px;
}

/* Progress Bar */
/* Progress Bar */
.progress-container {
    width: 70vh;
    height: 6px;
    background: #EEE5DA;  
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-bottom: 50px;
}
.progress-bar {
    height: 100%;
    background: rgb(219, 40, 40);
    width: 0%;
    border-radius: 5px;
    position: relative;
    transition: all 0.1s linear;
}




/* Buttons */
#prevBtn, #playPauseBtn, #nextBtn {
    background-color: #EEE5DA;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: none;
    cursor: pointer;
    font-size: 40px;
}
#playPauseBtn {
    background-color: rgb(219, 40, 40);
}

/* Volume Control */
.volume {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.volume img {
    width: 30px;
    height: 30px;
}
#volumeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100px;
    height: 6px;
    background: #EEE5DA;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    position: relative;
}
#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.volume-indicator {
    position: absolute;
    width: 14px;
    height: 14px;
    background: white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s ease;
}
